<div class="container">


    <div class="logins">

        <h3>Sign in</h3>
        <div class="single-input">
            <label>Root user email address</label>
            <input type="text">
        </div>
        <div class="single-input">
            <label>Password</label>
            <input type="password">
        </div>

        <div class="forget-password">
            <a href="#" target="_blank">Forgot password?</a>
        </div>

        <button class="buttonBlue"> <a href="#"></a> Login</button>

        <div class="verticle-line">
            <hr class="line">
            <span class="text">New to ozen pos?</span>
            <hr class="line">
        </div>

        <button (click)="goToSignUpPage()" class="buttonTransparent"> Create a new OzenPos Account</button>

    </div>
    <div class="carousel">
        <app-carousel></app-carousel>
    </div>
</div>