<div class="page">
    <div class="title">
        Ozen Pos Account settings
    </div>
    <div class="sub-title">
        Manage your Ozen pos Experience
    </div>
    <div class="container">
        <div class="boxDiv">
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Personal Details</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Business Accounts</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Preferences</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
        </div>
        <div class="boxDiv">
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Payment Details</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Privacy</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
            <div class="invisibleDiv">
            </div>
        </div>
        <div class="boxDiv">
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Security</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
            <div class="boxDiv2">
                <div class="icon"></div>

                <div class="snippet">
                    <h4>Email Notifications</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates? Modi numquam sed rerum
                    </p>
                </div>
            </div>
            <div class="invisibleDiv"></div>
        </div>
    </div>
</div>