<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img
            src="https://img.freepik.com/free-photo/hologram-projector-screen-with-cloud-system-technology_53876-108502.jpg?w=1380&t=st=1683774593~exp=1683775193~hmac=7756c09fc94816bc9dd7a2246e68667c79f7576b446b6e82836905c7d7f029f5"
            alt=""></ng-template>
    <ng-template carouselSlide><img
            src="https://img.freepik.com/free-photo/saas-concept-collage_23-2149399281.jpg?w=1380&t=st=1683774552~exp=1683775152~hmac=5ede2c6bbe13f8db89a97869ad27a2ac014838a63f4e3c54c7133e8011e7c4bc"
            alt=""></ng-template>
    <ng-template carouselSlide><img
            src="https://elevenmyanmar.com/sites/news-eleven.com/files/news-images/5cd2a689a3104842e4ac89c0.jpg"
            alt=""></ng-template>
</owl-carousel-o>